# ============================================================
#  Single-node — copy thành .env (không cần thay gì cả)
# ============================================================
DFS_REPLICATION=1
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
